{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <section class="site-home-intro">
        <div class="container">
        <div class="grid">
        <div class="s-12 last">
            <p class="event-date-location">
            {% if EVENT_DATE %}
                <span class="event-date-location__date">
                    <i class="mdi mdi-calendar"></i>
                    {{ EVENT_DATE }}
                </span>
            {% endif %}
            {% if EVENT_LOCATION %}
                <span class="event-date-location__location">
                    <i class="mdi mdi-map-marker"></i>
                    {{ EVENT_LOCATION }}
                </span>
            {% endif %}
            </p>
            <h1 class="site-title">
                <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
            </h1>
        </div>
        {% if EVENT_CTA_BUTTONS %}
            {% include 'partials/cta.html' %}
        {% endif %}
        </div>
        </div>
        </div>
    </section>
    {% if SOCIAL_LINKS %}
    <section class="site-header__social-links">
        {% for s in SOCIAL_LINKS %}
        <a href="{{ s.url }}">
            {% if s.icon %}
                <i class="mdi mdi-{{ s.icon }}"></i>
                {% if not s.hide_name %}
                    {{ s.name }}
                {% endif %}
            {% else %}
                {{ s.name }}
            {% endif %}
        </a>
        {% endfor %}
    </section>
    {% endif %}
{% endblock %}

{% block content %}

{% if EVENT_CLAIM %}
<section class="site-claim">
    {{ EVENT_CLAIM }}
</section>
{% endif %}

<div class="container">
<div class="grid">
<div class="s-12 m-6 l-6 last-s">
    <section class="site-news">
        <header class="site-news__header">
            <h2 class="small">
                <i class="mdi mdi-newspaper"></i>
                {% trans %}News{% endtrans %}
            </h2>
        </header>

        {% if not articles_page.object_list %}
            <p>
                {% trans %}Al momento non sono presenti news.{% endtrans %}
            </p>
        {% else %}
            <ol class="news-list">
                {% for article in articles_page.object_list %}
                <li>
                    <article class="news-article">
                        <aside class="news-article__aside">
                            <time datetime="{{ article.date.isoformat() }}">
                                {{ article.locale_date }}
                            </time>
                        </aside>
                        <header class="news-article__header">
                            <h2 class="news-article__header__title">
                                <a href="{{ SITEURL }}/{{ article.url }}"
                                    rel="bookmark"
                                    title="{{ article.title|striptags }}">
                                        {{ article.title }}
                                </a>
                            </h2>
                        </header>
                    </article>
                </li>
                {% endfor %}
            </ol>
        {% endif %}

        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </section>
</div>

<div class="s-12 m-6 l-6 last">
    <section class="site-socialevents">
        <header class="site-socialevents__header">
            <h2 class="small">
                <i class="mdi mdi-beer"></i>
                {% trans %}Eventi Sociali{% endtrans %}
            </h2>
        </header>

        <div class="socialevents-list">
        {% if SOCIAL_EVENTS %}
            {% for e in SOCIAL_EVENTS %}
            <div class="socialevent">
                <div class="socialevent__content">
                    <p class="socialevent__info">
                        <span class="socialevent__when">
                            <i class="mdi mdi-calendar"></i>
                            {{ e.when }}
                        </span>
                        {% trans %}presso{% endtrans %}
                        <span class="socialevent__where">{{ e.where }}</span>
                    </p>
                    <h3 class="socialevent__title">{{ e.title }}</h3>
                    <p class="socialevent__description">
                        {{ e.description }}
                    </p>
                </div>
                <div class="socialevent__map">
                    <a href="{{ e.map }}">
                        <i class="mdi mdi-google-maps"></i>
                        {% trans %}mappa{% endtrans %}
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>
                {% trans %}Stiamo lavorando per organizzare
                gli eventi sociali.{% endtrans %}
            </p>
        {% endif %}
        </div>
    </section>
</div>
</div>
</div>

{% if EVENT_PARTNERS %}
<section class="site-partners">
    <div class="container">
    <div class="grid">
    <div class="s-12 m-6 l-3 last-s">
        <div class="partner-diamond">
            <h2 class="small">{% trans %}Partner Diamond{% endtrans %}</h2>
            {% for p in EVENT_PARTNERS['diamond'] %}
                {% include 'partials/partner-link.html' %}
            {% endfor %}
            <a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
                {% trans %}Diventa partner Diamond!{% endtrans %}
            </a>
        </div>
    </div>
    <div class="s-12 m-6 l-3 last-s last-m">
        <div class="partner-platinum">
            <h2 class="small">{% trans %}Partner Platinum{% endtrans %}</h2>
            {% for p in EVENT_PARTNERS['platinum'] %}
                {% include 'partials/partner-link.html' %}
            {% endfor %}
            <a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
                {% trans %}Diventa partner Platinum!{% endtrans %}
            </a>
        </div>
    </div>
    <div class="s-12 m-6 l-3 last-s">
        <div class="partner-gold">
            <h2 class="small">{% trans %}Partner Gold{% endtrans %}</h2>
            {% for p in EVENT_PARTNERS['gold'] %}
                {% include 'partials/partner-link.html' %}
            {% endfor %}
            <a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
                {% trans %}Diventa partner Gold!{% endtrans %}
            </a>
        </div>
    </div>
    <div class="s-12 m-6 l-3 last">
        <div class="partner-silver">
            <h2 class="small">{% trans %}Partner Silver{% endtrans %}</h2>
            {% for p in EVENT_PARTNERS['silver'] %}
                {% include 'partials/partner-link.html' %}
            {% endfor %}
            <a href="{{ SITEURL }}/pages/partnership.html" class="partner-link partner-link--become">
                {% trans %}Diventa partner Silver!{% endtrans %}
            </a>
        </div>
    </div>
    <div class="s-12 last">
        <div class="partner-media ">
            <h2 class="small partner-media__title">{% trans %}Media Partner{% endtrans %}</h2>
            {% for p in EVENT_PARTNERS['media'] %}
                <a href="{{ p.url }}" class="partner-media-link">
                    <img src="{{ main_siteurl }}/theme/images/{{ p.logo }}"
                        class="partner-media-link__img" alt="{{ p.name }}" />
                </a>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
</section>
{% endif %}

{% if EVENT_LOCATION_COORDS %}
<section class="site-event-map-container">
    <div class="container">
    <div class="grid">
    <div class="s-12 last">
        <h2 class="small">{% trans %}Dove siamo{% endtrans %}</h2>
    </div>
    </div>
    </div>
    <div class="site-event-map" id="js-site-event-map"></div>
</section>
{% endif %}


{% endblock content %}

{% block js_script %}
{% if EVENT_LOCATION_COORDS %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDRnWKXKbjhyQhXSMgrLTxpnKbJJhPDbx0"></script>
<script type="text/javascript">
function init_map(el) {
    var center_point = {
        lat: {{ EVENT_LOCATION_COORDS['lat'] }},
        lng: {{ EVENT_LOCATION_COORDS['lng'] }}
    };

    var map = new google.maps.Map(el, {
        center: center_point,
        scrollwheel: false,
        mapMaker: true,
        mapTypeControl: false,
        zoom: 18,
    });

    var marker_event = {
        path: 'M32 64 L64 40 L64 0 L0 0 L0 40 Z',
        fillColor: '#F6722D',
        fillOpacity: 0.8,
        scale: 1,
        strokeWeight: 0,
        scale: .5,
        cursor: 'default',
    };

    var marker = new google.maps.Marker({
        position: center_point,
        map: map,
        icon: marker_event
    });
}
</script>
{% endif %}
{% endblock %}
