{% extends "base.html" %}

{% block title %}{{ page.title }}{%endblock%}

{% block page_header %}{% endblock %}

{% block page_heading %}
<header class="page-heading">
    <h1 class="page-heading__title">{{ page.title }}</h1>
</header>
{% endblock %}

{% block main_classes %}main-page schedule-page{% endblock %}

{% block content %}
<div class="container">
<div class="grid">
<div class="s-12 last">

    <section class="schedule">
    {% for when, talks in SCHEDULE %}
        <div class="schedule-item">
            <p class="schedule-item__when">{{ when }}</p>
            {% for t in talks %}
            <div class="schedule-item__talk {{ t.extra_class }}"
            style="width: calc(100% / {{ talks|length }})">
                {% if t.track %}
                <p class="schedule-item__talk__track">{{ t.track }}</p>
                {% endif %}
                <p class="schedule-item__talk__title">
                    {% if t.speakers and t.abstract %}
                        <a href="#{{when}}-{{loop.index}}"
                            class="js-modal-trigger">
                            {{ t.title }}
                        </a>
                    {% else %}{{ t.title }}{% endif %}
                </p>
                {% if t.speakers %}
                <p class="schedule-item__talk__speakers">
                {% for s in t.speakers %}
                    <span>{{ s }}</span>{% if not loop.last %},{% endif %}
                {% endfor %}
                </p>
                {% endif %}
                {% if t.duration or t.level or t.language %}
                <p class="schedule-item__talk__info">
                    {% if t.duration %}
                    <span class="schedule-item__talk__info__duration">{{ t.duration }}</span>
                    {% endif %}
                    {% if t.level %}
                    <span class="schedule-item__talk__info__level">{{ t.level }}</span>
                    {% endif %}
                    {% if t.language %}
                    <span class="schedule-item__talk__info__language">{{ t.language }}</span>
                    {% endif %}
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </section>

    <!-- abstracts -->
    <section class="abstracts">
    {% for when, talks in SCHEDULE %}
        {% for t in talks %}
            {% if t.speakers and t.abstract %}
            <div class="abstract" id="{{when}}-{{loop.index}}">
                {{t.abstract}}
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </section>

    {{ page.content }}

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}

</div>
</div>
</div>

<section class="modal-overlay" id="js-modal">
    <div class="modal">
        <a href="#" class="modal-close" id="js-modal-close">
            <i class="mdi mdi-close"></i>
        </a>
        <div class="modal-content" id="js-modal-content">
        </div>
    </div>
</section>

{% endblock %}

{% block js_script %}
<script>

var modal = document.getElementById('js-modal');
var modal_content = document.getElementById('js-modal-content');
var modal_close = document.getElementById('js-modal-close');

modal_close.addEventListener('click', function(e) {
    e.preventDefault();
    remove_class(modal, 'active');
});

function modal_cb(e) {
    e.preventDefault();
    var target = e.target.href.split('#')[1];
    var abstract = document.getElementById(target).innerHTML;
    modal_content.innerHTML = abstract;
    add_class(modal, 'active');
};

var modal_trig = document.getElementsByClassName('js-modal-trigger');
for (var i = 0; i < modal_trig.length; i++)
    modal_trig[i].addEventListener('click', modal_cb);

</script>
{% endblock %}

